source_env_if_exists .envrc.local.before

[ -x "$(command -v toilet)" ] && toilet -f term -F border --gay " Figaro "
[ -x "$(command -v features)" ] && features githook -q

PATH_add 'bin'
export STARSHIP_CONFIG=$(PWD)/.starship.toml

source_env_if_exists .envrc.local

